@import url(http://fonts.googleapis.com/css?family=Bree+Serif&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic,400italic,600italic|Source+Code+Pro);



:root {
  --sansFontFamily: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --monoFontFamily: "Source Code Pro", Monaco, Menlo, Consolas, "Courier New", monospace;
  --serifFontFamily: Lora, Georgia, "Times New Roman", Times, serif;
  --serifHeadingFontFamily: "Bree Serif", Baskerville, Garamond, Georgia,
    "DejaVu Serif", "Times New Roman", Times, serif;
}




.site-name{
    color: darkred;
    font-family: "Bree Serif", var(--sansFontFamily);
}

.navbar .nav>.active>a,
.navbar .nav>.active>a:focus {
    color: coral;
}

.navbar .nav>li>a {
    font-size:1.2rem;
    color: darkred;
}

h1#recent-posts {
    margin-top: 1em;
    margin-bottom: 1em;
}

.navbar .nav>li.menupost>a  {
    color: #6a5b7c
}


div.blog-archives div,
div.recent-posts-article, 
ul.list-articles-under-tag-category li 
{
    font-size: 1.5rem;
}


div.recent-posts-article {
    margin-top: 1.2rem;
}
div.recent-posts-posted {
    font-size: 1.2rem;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
}

.list-of-tags {
    font-size: 1.2rem;
}


ul.list-projects li {
    font-size: 1.3rem;
}
.proj-desc {
    font-size: 1.1rem;
}
