@import url(https://fonts.googleapis.com/css?family=Bree+Serif&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic,400italic,600italic|Source+Code+Pro);



:root {
  --sansFontFamily: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --monoFontFamily: "Source Code Pro", Monaco, Menlo, Consolas, "Courier New", monospace;
  --serifFontFamily: Lora, Georgia, "Times New Roman", Times, serif;
  --serifHeadingFontFamily: "Bree Serif", Baskerville, Garamond, Georgia,
    "DejaVu Serif", "Times New Roman", Times, serif;
}

body {
    overflow-y:  scroll;
}


h2 {
    font-size: 2.2rem;
    margin-top: 1em;
    margin-bottom: 1ex;
}
h3 {
    margin-top: 0.7em;
    font-size: 1.8rem;
    border-bottom: 0px solid black;
    margin-bottom: 1ex;
}
h4 {
    margin-top: 0.5em;
    font-size: 1.5rem;
    border-bottom: 0px solid black;
    margin-bottom: 1ex;
}

a {
    color: darkred;
}
a:hover {
    color: indianred;
}

.article-content p {
    margin-bottom: 0.8ex;
}

.article-content, div.recent-posts p {
    text-align: left;
}

article p:not(#list-of-translations):not(#post-share-links) a:not(.ampl), 
article div.article-content ul:not(.articles-timeline):not(.related-posts-list) a,
blockquote a:not(.ampl) {
    color: darkred;
    display: inline-block;
    border-bottom: 1px solid #8B000011;
}
article p:not(#list-of-translations):not(#post-share-links) a:not(.ampl):hover, 
article div.article-content ul:not(.articles-timeline):not(.related-posts-list) a:hover,
blockquote a:not(.ampl):hover {
    color: indianred;
    border-bottom: 1px solid #00000000;
    /*background-color: #eee5;*/
}
/*article p:not(#list-of-translations):not(#post-share-links) a:not(.ampl),*/
/*a:not(.ampl) {*/
/*    display: inline;*/
/*}*/

article p:not(#list-of-translations):not(#post-share-links) a:not(.ampl)[href^="http://"]::after,
article p:not(#list-of-translations):not(#post-share-links) a:not(.ampl)[href^="https://"]::after,
article div.article-content ul:not(.articles-timeline):not(.related-posts-list) a[href^="http://"]::after,
article div.article-content ul:not(.articles-timeline):not(.related-posts-list) a[href^="https://"]::after
{
  content: "⤴";
  margin-left: 1px;
  color: #3875d7;
  position: relative;
  top: -0.8ex;
  /*width: 11px;*/
  /*height: 11px;*/
  /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' color='dodgerblue' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");*/
  /*background-position: center;*/
  /*background-repeat: no-repeat;*/
  /*background-size: contain;*/
  background-color: white;
  /*color: dodgerblue; */
  /*display: inline-block;*/
}
article p:not(#list-of-translations):not(#post-share-links) a:not(.ampl)[href^="http://"]:hover::after,
article p:not(#list-of-translations):not(#post-share-links) a:not(.ampl)[href^="https://"]:hover::after,
article div.article-content ul:not(.articles-timeline):not(.related-posts-list) a[href^="http://"]:hover::after,
article div.article-content ul:not(.articles-timeline):not(.related-posts-list) a[href^="https://"]:hover::after
{
  content: "⤴";
  margin-left: 1px;
  color: darkred;
  position: relative;
  top: -1.1ex;
  background-color: white;
}




/*.related-post-header {*/
/*    color: darkred;*/
/*}*/

.elegant-hr {
    color: darkred;
    border: 3px solid darkred;
    border-radius: 4px;
    margin-top: 3em;
    margin-bottom: 2em;
}


pre code {
    white-space: pre;
    overflow-x: auto;
}
.codecopy button.codecopy-btn {
    z-index: auto;
}

.search-query {
    margin-left: 1em;
}

.site-name{
    color: darkred;
    font-family: "Bree Serif", var(--sansFontFamily);
}

.navbar .nav>.active>a,
.navbar .nav>.active>a:focus {
    color: coral;
}

.navbar .nav>li>a {
    font-size:1.2rem;
    color: darkred;
}

h1#recent-posts {
    margin-top: 1em;
    margin-bottom: 1em;
}

.navbar .nav>li.menupost>a  {
    color: #6a5b7c;
}


div.blog-archives div,
div.recent-posts-article, 
ul.list-articles-under-tag-category li 
{
    font-size: 1.5rem;
}


div.recent-posts-article {
    margin-top: 1.2rem;
}
div.recent-posts-posted {
    font-size: 1.2rem;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
}

.list-of-tags {
    font-size: 1.2rem;
}


ul.list-projects li {
    font-size: 1.3rem;
}
.proj-desc {
    font-size: 1.1rem;
}

footer div#fpowered {
    margin-right: 1ex;
}


div.table-of-content nav h2 {
    font-size: 1rem;
}

div.table-of-content ul.related-posts-list {
    margin: 0;
    padding: 0 0 0 .2rem;
    list-style-type: none;
    list-style: symbols inside none;
}


img[alt*=">>"] {
  float: right;
  margin: 1ex;
}

img[alt*="<<"] {
  float: left;
  margin: 1ex;
}

img[alt*="|=|"] {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
  float: none!important;
}


.center {
    text-align: center;
}
.floatright {
    float: right;
}
.floatleft {
    float: left;
}

.nic, .nic:hover {
    text-decoration: none;
    cursor: text;
    color: black;
}
