@import url(https://fonts.googleapis.com/css?family=Bree+Serif&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic,400italic,600italic|Source+Code+Pro);



:root {
  --sansFontFamily: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --monoFontFamily: "Source Code Pro", Monaco, Menlo, Consolas, "Courier New", monospace;
  --serifFontFamily: Lora, Georgia, "Times New Roman", Times, serif;
  --serifHeadingFontFamily: "Bree Serif", Baskerville, Garamond, Georgia,
    "DejaVu Serif", "Times New Roman", Times, serif;
}

body {
    overflow-y:  scroll;
}


h2 {
    font-size: 2.2rem;
    margin-top: 1em;
    margin-bottom: 1ex;
}
h3 {
    margin-top: 0.7em;
    font-size: 1.8rem;
    border-bottom: 0px solid black;
    margin-bottom: 1ex;
}
h4 {
    margin-top: 0.5em;
    font-size: 1.5rem;
    border-bottom: 0px solid black;
    margin-bottom: 1ex;
}

.article-content p {
    margin-bottom: 0.8ex;
}


article p:not(#list-of-translations):not(#post-share-links) a:not(.ampl), 
article div.article-content ul:not(.articles-timeline):not(.related-posts-list) a,
blockquote a:not(.ampl) {
    color: darkred;
}
article p:not(#list-of-translations):not(#post-share-links) a:not(.ampl),
a:not(.ampl) {
    display: inline;
}

/*.related-post-header {*/
/*    color: darkred;*/
/*}*/

.elegant-hr {
    color: darkred;
    border: 3px solid darkred;
    border-radius: 4px;
    margin-top: 3em;
    margin-bottom: 2em;
}


pre code {
    white-space: pre;
    overflow-x: auto;
}
.codecopy button.codecopy-btn {
    z-index: auto;
}

.search-query {
    margin-left: 1em;
}

.site-name{
    color: darkred;
    font-family: "Bree Serif", var(--sansFontFamily);
}

.navbar .nav>.active>a,
.navbar .nav>.active>a:focus {
    color: coral;
}

.navbar .nav>li>a {
    font-size:1.2rem;
    color: darkred;
}

h1#recent-posts {
    margin-top: 1em;
    margin-bottom: 1em;
}

.navbar .nav>li.menupost>a  {
    color: #6a5b7c;
}


div.blog-archives div,
div.recent-posts-article, 
ul.list-articles-under-tag-category li 
{
    font-size: 1.5rem;
}


div.recent-posts-article {
    margin-top: 1.2rem;
}
div.recent-posts-posted {
    font-size: 1.2rem;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
}

.list-of-tags {
    font-size: 1.2rem;
}


ul.list-projects li {
    font-size: 1.3rem;
}
.proj-desc {
    font-size: 1.1rem;
}

footer div#fpowered {
    margin-right: 1ex;
}


div.table-of-content nav h2 {
    font-size: 1rem;
}

div.table-of-content ul.related-posts-list {
    margin: 0;
    padding: 0 0 0 .2rem;
    list-style-type: none;
    list-style: symbols inside none;
}


img[alt*=">>"] {
  float: right;
  margin: 1ex;
}

img[alt*="<<"] {
  float: left;
  margin: 1ex;
}

img[alt*="|=|"] {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
  float: none!important;
}

