.video-preview {
    display: block;
}
.video-preview a {
    display: inline-block !important; 
    position: relative;
    background: #ddd;
    overflow: hidden;
    height: 270px;
    width: 360px;
    border-radius: 3px;
    box-shadow: 0 0 6px #bbb;
    padding: 0px;
    text-indent: 0em;
}

.video-preview img {
    display: none;
}

.video-preview a span#title {
    display: inline-block;
    color: red;
    padding: 5px 9px;
    margin-top: 1em;
    margin-left: 0%;
    width: 98%;
    font-size: 120%;
    color: white;
    background-color: #333;
    opacity: 88%;
    box-shadow: 0 0 6px #bbb;
    border-radius: 3px;
}

.video-preview a span#title:hover {
    opacity: 0%;
}
